<br />
<!--services as a redirect for toastr calls-->
<partial name="_Toastr"/>
<div style="font-family:'Cascadia Code'">
    <div class="col-md-7 mx-auto">
        <h1>The Contract Monthly Claims System:</h1>
        <h4>The answer to easy claims management</h4>
        <br />
        <h3>Choose from the options above to get started</h3>
        <br />
    </div>
</div>