<partial name="_Toastr" />
<!--first webpage of the application-->
<br />
<div style="font-family:'Cascadia Code'">
    <div class="col-md-10 mx-auto">
    <h1>The Contract Monthly Claims System:</h1>
    <h4>The answer to easy claims management</h4>
    <br />
    <h3>Choose an option to get started</h3>
    <hr />
    <br />
    <div class="col-md-3 mx-auto">
    <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Register" style="margin-right: 10px">Register</a>
    <a class="btn btn-info" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
    </div>
</div>