<h2>Welcome @User.Identity?.Name to the HR dashboard</h2>
<p>Select your action</p>
<br/>
<a asp-controller="HR" asp-action="Invoices">All invoices</a>
<br/>
<a asp-controller="HR" asp-action="ListLecturers">All lecturers</a>