@* <partial name= "_Toastr"/>
<br />
<div class="container col-md-10 mx-auto">
<h1>Current invoices</h1>
<hr />
<br />
<table class="table">
    <thead>
        <tr>
            <th style="background-color:mediumaquamarine" class="text-dark">Claim ID</th>
            <th style="background-color:mediumaquamarine" class="text-dark">Lecturer ID</th>
            <th style="background-color:mediumaquamarine" class="text-dark">Approved by</th>
            <th style="background-color:mediumaquamarine" class="text-dark">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>text goes here</td>
            <td>text goes here</td>
            <td>text goes here</td>
            <td>
                <a asp-action="GenerateInvoice" class="btn btn-success">Generate Invoice</a>
            </td>
        </tr>
    </tbody>
</table>
</div> *@