@* <partial name="_Toastr" />
<br />
<div class="container col-md-10 mx-auto">
<h1>All lecturer</h1>
<hr />
<br />
<table class="table">
    <thead>
        <tr>
            <th style="background-color:mediumaquamarine" class="text-dark">Lecturer ID</th>
            <th style="background-color:mediumaquamarine" class="text-dark">Username</th>
            <th style="background-color:mediumaquamarine" class="text-dark">Email</th>
            <th style="background-color:mediumaquamarine" class="text-dark">Phone number</th>
            <th style="background-color:mediumaquamarine" class="text-dark">Action</t>
        </tr>
    </thead>
    <tbody class="text-muted">
        <tr>
            <td>text goes here</td>
            <td>text goes here</td>
            <td>text goes here</td>
            <td>text goes here</td>
            <td>
                <a asp-action="UpdateLecturerInformation" asp-controller="UserAccount" class="btn btn-info">Update user</a>
            </td>
        </tr>
    </tbody>
</table>
</div> *@