@using PROG6212POE.Areas.Identity.Data
@model List<ApplicationUser>
<!--Partial for the toastr-->
<partial name="_Toastr" />
<br />
<h1 class="text-center">Promote Lecturer</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-md-6 mb-3">
                            <div class="card">
                                <div class="card-header bg-info text-white">
                                    Username: @item.UserName
                                </div>
                                <div class="card-body">
                                    <form asp-action="PromoteUser" method="post" class="d-flex align-items-center" onsubmit="return confirm('Are you sure you want to promote @item.UserName?');">
                                        <input type="hidden" name="userId" value="@item.Id" />
                                        <select name="newRole" class="form-control" style="margin-right: 10px; width: 150px">
                                            <option value="AcademicManager">Academic Manager</option>
                                            <option value="ProgrammeCoordinator">Programme Coordinator</option>
                                            <option value="HR">HR</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary">Promote</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-md-12">
                        <div class="alert alert-warning text-center">
                            No Lecturers to promote.
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
