@* <br />
<div class="col-md-3 mx-auto">
        <form method="post">
            <h2>Update User information for user</h2>
            <hr />
            <br />
            <div class="form-group">
            <input type="text" placeholder="Username"/>
            </div>
            <br />
            <div class="form-group">
            <input type="text" placeholder="Email"/>
            </div>
            <br />
            <div class="form-group">
            <input type="text" placeholder="Phone number"/>
            </div>
            <br />
            <a asp-action="UpdateInformation" asp-controller="HR" type="submit" class="btn btn-success">Update</a>
        </form>
</div> *@