@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<br />
<div class="col-md-4 mx-auto">
<h1>@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-4 mx-auto">
        <p class="text-muted">nb. Use a valid email address</p>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="Tom" required/>
                <label asp-for="Input.FirstName">First name</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Walker" required />
                <label asp-for="Input.LastName">Last name</label>
            </div>
            <br />
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" required />
                <label asp-for="Input.Email">Email</label>
           </div>
            <br />
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" required />
                <label asp-for="Input.Password">Password</label>
           </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" required />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            </div>
            <br />
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" placeholder="012 345 6789" required />
                <label asp-for="Input.PhoneNumber">Phone Number</label>
           </div>
            <input asp-for="Input.Role" type="hidden" value="Lecturer"/>
            <br />
            <div class="col-md-4 mx-auto">
            <button id="registerSubmit" type="submit" style="width:100px" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
<br /><br /> <br />
